14.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="Alignment">
        <xs:restriction base="xs:string">
            <xs:enumeration value="center"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attribute name="class" type="xs:string"/>
    <xs:attribute name="style" type="xs:string"/>
    <xs:attribute name="scope" type="xs:string"/>
    <xs:attribute name="rowspan" type="xs:int"/>
    <xs:attribute name="colspan" type="xs:int"/>
    <xs:attribute name="align" type="Alignment"/>

    <xs:simpleType name="LineBrake">
        <xs:restriction base="xs:string">
            <xs:maxLength value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FootNoteReference">
        <xs:restriction base="xs:string">
            <xs:maxLength value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attributeGroup name="TableAttributesGroup">
        <xs:attribute name="border" type="xs:integer"/>
        <xs:attribute name="cellpadding" type="xs:string"/>
        <xs:attribute name="cellspacing" type="xs:string"/>
        <xs:attribute name="frame" type="xs:string"/>
        <xs:attribute name="width" type="xs:string"/>
    </xs:attributeGroup>
    <xs:complexType name="TableCell">
        <xs:complexContent>
            <xs:extension base="Paragraph">
                <xs:attribute ref="scope"/>
                <xs:attribute ref="align"/>
                <xs:attribute ref="style"/>
                <xs:attribute ref="rowspan"/>
                <xs:attribute ref="colspan"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TableHeaderCell">
        <xs:complexContent>
            <xs:extension base="TableCell"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TableStandardCell">
        <xs:complexContent>
            <xs:extension base="TableCell"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TableRow">
        <xs:sequence>
            <xs:choice>
                <xs:element name="TH" type="TableHeaderCell" maxOccurs="unbounded"/>
                <xs:element name="TD" type="TableStandardCell" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Table">
        <xs:sequence>
            <xs:element name="TR" type="TableRow" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="class" type="xs:string"/>
        <xs:attributeGroup ref="TableAttributesGroup"/>
    </xs:complexType>

    <xs:complexType name="Volume">
        <xs:attribute name="N" type="xs:int" use="required"/>
        <xs:attribute name="AMDDATE" type="xs:date" use="required"/>
        <xs:attribute name="RAW_AMDDATE" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="Image">
        <xs:attribute name="src" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="AmendmentDate">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="DATE" type="xs:date" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Font" mixed="true">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="AC" type="Accent"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="T" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="Approval" mixed="true">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="TYPE" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Accent">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="T" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ParagraphSpace" mixed="true">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="I" type="Emphasis"/>
                <xs:element name="FR" type="Fraction"/>
                <xs:element name="fr" type="Fraction"/>
                <xs:element name="E" type="Font"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Head" mixed="true">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="E" type="Font"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Authority">
        <xs:sequence>
            <xs:element name="HED" type="xs:string"/>
            <xs:element name="PSPACE" type="ParagraphSpace"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Source">
        <xs:sequence>
            <xs:element name="HED" type="xs:string"/>
            <xs:element name="PSPACE" type="ParagraphSpace"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Math">
        <xs:sequence>
            <xs:element name="img" type="Image"/>
        </xs:sequence>
        <xs:attribute name="BORDER" type="xs:string" use="required"/>
        <xs:attribute name="DEEP" type="xs:string" use="required"/>
        <xs:attribute name="HTYPE" type="xs:string" use="required"/>
        <xs:attribute name="POSITION" type="xs:string" use="required"/>
        <xs:attribute name="ROTATION" type="xs:string" use="required"/>
        <xs:attribute name="SPAN" type="xs:string" use="required"/>
        <xs:attribute name="STRIP" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="Note">
        <xs:sequence>
            <xs:element name="HED" type="xs:string"/>
            <xs:element name="P" type="Paragraph" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Fraction">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="FootNote">
        <xs:sequence>
            <xs:element name="P" type="Paragraph" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SuperScript">
        <xs:complexContent>
            <xs:extension base="ParagraphSpace"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Heading1">
        <xs:complexContent>
            <xs:extension base="ParagraphSpace"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Heading2">
        <xs:complexContent>
            <xs:extension base="ParagraphSpace"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Heading3">
        <xs:complexContent>
            <xs:extension base="ParagraphSpace"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Heading4">
        <xs:complexContent>
            <xs:extension base="ParagraphSpace"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Heading5">
        <xs:complexContent>
            <xs:extension base="ParagraphSpace"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Heading6">
        <xs:complexContent>
            <xs:extension base="ParagraphSpace"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Emphasis" mixed="true">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="AC" type="Accent"/>
                <xs:element name="FR" type="Fraction"/>
                <xs:element name="fr" type="Fraction"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Bold" mixed="true">
        <xs:sequence>
            <xs:element name="FR" type="Fraction" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="fr" type="Fraction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EditorialNote">
        <xs:sequence>
            <xs:element name="HED" type="xs:string"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="PSPACE" type="ParagraphSpace"/>
                <xs:element name="P" type="Paragraph"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EffectiveDateNote">
        <xs:sequence>
            <xs:element name="HED" type="xs:string"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="PSPACE" type="ParagraphSpace"/>
                <xs:element name="P" type="Paragraph"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Citation">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="TYPE" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="SectionAuthority" mixed="true">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="I" type="Emphasis"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="TYPE" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="CrossReference" mixed="true">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="I" type="Emphasis"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="ID" type="xs:string" use="required"/>
        <xs:attribute name="REFID" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="Quote">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="P" type="Paragraph"/>
                <xs:element name="FP" type="FlushParagraph"/>
                <xs:element name="FP-1" type="FlushParagraphTurnover1"/>
                <xs:element name="FP-2" type="FlushParagraphTurnover2"/>
                <xs:element name="FP-DASH" type="FlushParagraphDash"/>
                <xs:element name="FP1-2" type="FlushParagraph1Turnover2"/>
                <xs:element name="FP2" type="FlushParagraphTurnover2"/>
                <xs:element name="FP2-2" type="FlushParagraph2Turnover2"/>
                <xs:element name="FP2-3" type="FlushParagraph2Turnover3"/>
                <xs:element name="MATH" type="Math"/>
                <xs:element name="img" type="Image"/>
                <xs:element name="XREF" type="CrossReference"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Paragraph" mixed="true">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="B" type="Bold"/>
                <xs:element name="I" type="Emphasis"/>
                <xs:element name="FR" type="Fraction"/>
                <xs:element name="fr" type="Fraction"/>
                <xs:element name="E" type="Font"/>
                <xs:element name="br" type="LineBrake"/>
                <xs:element name="sup" type="SuperScript"/>
                <xs:element name="SU" type="SuperScript"/>
                <xs:element name="FTREF" type="FootNoteReference"/>
                <xs:element name="AC" type="Accent"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute ref="class"/>
    </xs:complexType>

    <xs:complexType name="FlushParagraph" mixed="true">
        <xs:complexContent>
            <xs:extension base="Paragraph"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FlushParagraphTurnover1" mixed="true">
        <xs:complexContent>
            <xs:extension base="Paragraph"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FlushParagraphTurnover2" mixed="true">
        <xs:complexContent>
            <xs:extension base="Paragraph"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FlushParagraphDash" mixed="true">
        <xs:complexContent>
            <xs:extension base="Paragraph"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FlushParagraph1Turnover2" mixed="true">
        <xs:complexContent>
            <xs:extension base="Paragraph"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FlushParagraph2Turnover2" mixed="true">
        <xs:complexContent>
            <xs:extension base="Paragraph"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FlushParagraph2Turnover3" mixed="true">
        <xs:complexContent>
            <xs:extension base="Paragraph"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Division">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="TABLE" type="Table"/>
            <xs:element name="DIV" type="Division"/>
            <xs:element name="P" type="Paragraph"/>
        </xs:choice>
        <xs:attribute name="width" type="xs:string"/>
        <xs:attribute name="class" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="Appendix">
        <xs:sequence>
            <xs:element name="HEAD" type="Head"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="P" type="Paragraph"/>
                <xs:element name="FTNT" type="FootNote"/>
                <xs:element name="MATH" type="Math"/>
                <xs:element name="DIV" type="Division"/>
                <xs:element name="NOTE" type="Note"/>
                <xs:element name="FP" type="FlushParagraph"/>
                <xs:element name="FP-1" type="FlushParagraphTurnover1"/>
                <xs:element name="FP-2" type="FlushParagraphTurnover2"/>
                <xs:element name="FP-DASH" type="FlushParagraphDash"/>
                <xs:element name="FP1-2" type="FlushParagraph1Turnover2"/>
                <xs:element name="FP2" type="FlushParagraphTurnover2"/>
                <xs:element name="FP2-2" type="FlushParagraph2Turnover2"/>
                <xs:element name="FP2-3" type="FlushParagraph2Turnover3"/>
                <xs:element name="HD1" type="Heading1"/>
                <xs:element name="HD2" type="Heading2"/>
                <xs:element name="HD3" type="Heading3"/>
                <xs:element name="HD4" type="Heading4"/>
                <xs:element name="HD5" type="Heading5"/>
                <xs:element name="HD6" type="Heading6"/>
                <xs:element name="img" type="Image"/>
                <xs:element name="XREF" type="CrossReference"/>
                <xs:element name="APPRO" type="Approval"/>
            </xs:choice>
            <xs:element name="SECAUTH" type="SectionAuthority" minOccurs="0"/>
            <xs:element name="CITA" type="Citation" minOccurs="0"/>
            <xs:element name="EDNOTE" type="EditorialNote" minOccurs="0"/>
            <xs:element name="EFFDNOT" type="EffectiveDateNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="N" type="xs:string" use="required"/>
        <xs:attribute name="TYPE" type="xs:string" use="required" fixed="APPENDIX"/>
        <xs:attribute name="VOLUME" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="Section">
        <xs:sequence>
            <xs:element name="HEAD" type="Head"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="P" type="Paragraph"/>
                <xs:element name="FTNT" type="FootNote"/>
                <xs:element name="MATH" type="Math"/>
                <xs:element name="DIV" type="Division"/>
                <xs:element name="FP" type="FlushParagraph"/>
                <xs:element name="FP-1" type="FlushParagraphTurnover1"/>
                <xs:element name="FP-2" type="FlushParagraphTurnover2"/>
                <xs:element name="FP-DASH" type="FlushParagraphDash"/>
                <xs:element name="FP1-2" type="FlushParagraph1Turnover2"/>
                <xs:element name="FP2" type="FlushParagraphTurnover2"/>
                <xs:element name="FP2-2" type="FlushParagraph2Turnover2"/>
                <xs:element name="FP2-3" type="FlushParagraph2Turnover3"/>
                <xs:element name="EXTRACT" type="Quote"/>
                <xs:element name="NOTE" type="Note"/>
                <xs:element name="HD1" type="Heading1"/>
                <xs:element name="HD2" type="Heading2"/>
                <xs:element name="HD3" type="Heading3"/>
                <xs:element name="HD4" type="Heading4"/>
                <xs:element name="HD5" type="Heading5"/>
                <xs:element name="HD6" type="Heading6"/>
                <xs:element name="img" type="Image"/>
                <xs:element name="XREF" type="CrossReference"/>
                <xs:element name="APPRO" type="Approval"/>
            </xs:choice>
            <xs:element name="SECAUTH" type="SectionAuthority" minOccurs="0"/>
            <xs:element name="CITA" type="Citation" minOccurs="0"/>
            <xs:element name="EDNOTE" type="EditorialNote" minOccurs="0"/>
            <xs:element name="EFFDNOT" type="EffectiveDateNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="N" type="xs:string" use="required"/>
        <xs:attribute name="TYPE" type="xs:string" use="required" fixed="SECTION"/>
        <xs:attribute name="VOLUME" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="SubjectGroup">
        <xs:sequence>
            <xs:element name="HEAD" type="Head"/>
            <xs:element name="DIV8" type="Section" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="N" type="xs:string" use="required"/>
        <xs:attribute name="TYPE" type="xs:string" use="required" fixed="SUBJGRP"/>
    </xs:complexType>

    <xs:complexType name="SubPart">
        <xs:sequence>
            <xs:element name="HEAD" type="Head"/>
            <xs:element name="SOURCE" type="Authority" minOccurs="0"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="DIV7" type="SubjectGroup"/>
                <xs:element name="DIV8" type="Section"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="N" type="xs:string" use="required"/>
        <xs:attribute name="TYPE" type="xs:string" use="required" fixed="SUBPART"/>
    </xs:complexType>

    <xs:complexType name="Part">
        <xs:sequence>
            <xs:element name="HEAD" type="Head"/>
            <xs:element name="XREF" type="CrossReference" minOccurs="0"/>
            <xs:element name="AUTH" type="Authority" minOccurs="0"/>
            <xs:element name="SOURCE" type="Authority" minOccurs="0"/>
            <xs:element name="NOTE" type="Note" minOccurs="0"/>
            <xs:element name="EDNOTE" type="EditorialNote" minOccurs="0"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="DIV9" type="Appendix" maxOccurs="unbounded"/>
                <xs:element name="DIV6" type="SubPart" maxOccurs="unbounded"/>
                <xs:element name="DIV8" type="Section" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:element name="DIV9" type="Appendix" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="N" type="xs:string" use="required"/>
        <xs:attribute name="TYPE" type="xs:string" use="required" fixed="PART"/>
        <xs:attribute name="VOLUME" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="SubChapter">
        <xs:sequence>
            <xs:element name="HEAD" type="Head"/>
            <xs:element name="DIV5" type="Part" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="N" type="xs:string" use="required"/>
        <xs:attribute name="TYPE" type="xs:string" use="required" fixed="SUBCHAP"/>
    </xs:complexType>

    <xs:complexType name="Chapter">
        <xs:sequence>
            <xs:element name="HEAD" type="Head"/>
            <xs:element name="DIV4" type="SubChapter" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="N" type="xs:string" use="required"/>
        <xs:attribute name="TYPE" type="xs:string" use="required" fixed="CHAPTER"/>
    </xs:complexType>

    <xs:complexType name="Subtitle">
        <xs:sequence>
            <xs:element name="HEAD" type="Head"/>
            <xs:element name="DIV3" type="Chapter" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="N" type="xs:string" use="required"/>
        <xs:attribute name="TYPE" type="xs:string" use="required" fixed="DUBTITLE"/>
    </xs:complexType>

    <xs:complexType name="Title">
        <xs:sequence>
            <xs:element name="HEAD" type="Head"/>
            <xs:choice>
                <xs:element name="DIV2" type="Subtitle" maxOccurs="unbounded"/>
                <xs:element name="DIV3" type="Chapter" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="N" type="xs:int" use="required"/>
        <xs:attribute name="TYPE" type="xs:string" use="required" fixed="TITLE"/>
    </xs:complexType>

    <xs:complexType name="CodeOfFederalRegulations">
        <xs:sequence>
            <xs:element name="VOLUME" type="Volume" maxOccurs="unbounded"/>
            <xs:element name="AMDDATE" type="AmendmentDate"/>
            <xs:element name="DIV1" type="Title"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="ECFR" type="CodeOfFederalRegulations"/>
</xs:schema>